body {
	margin: 0;
}

/* Section Navbar */

.topnav {
	overflow: auto;
	background-color: #333;
	position: fixed;
	top: 0;
	width: 100%;
	display: block;
}

.topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 13.75px 16px;
	text-decoration: none;
	font-size: 17px;
}

.topnav a:hover {
	background-color: #ddd;
	color: black;
}

.active {
	background-color: #4CAF50;
	color: white;
}

.topnav .icon {
	display: none;
}

@media screen and (max-width: 600px) {
	.topnav a:not(:first-child) {
		display: none;
	}
	.topnav a.icon {
		float: right;
		display: block;
	}
	.topnav {
		overflow: auto;
		background-color: #333;
		position: fixed;
		top: 0;
		width: 100%;
	}
}

@media screen and (max-width: 600px) {
	.topnav.responsive {
		position: relative;
	}
	.topnav.responsive .icon {
		position: absolute;
		right: 0;
		top: 0;
	}
	.topnav.responsive a {
		float: none;
		display: block;
		text-align: left;
	}
}



/* Section Top */

.container-image {
	margin-top: 3.9rem;
	text-align: center;
	color: white;
}

#top-text {
	flex: 2;
	text-align: left;
}

#top-image {
	flex: 1;
	width: 70px;
	height: 30px
}

img {
	margin-top: 0;
	max-width: 100%;
	max-height: 100%;
}

#close-image {
	text-align: center;
	height: 42px;
	width: 42px;
	margin-bottom: 0.3rem auto;
	cursor: pointer;
	border: 1px solid transparent;
	padding: 0;
}

button:hover {
	border-color: black;
}


/* First paragraph */

.container-text {
	font-size: 20px;
	text-align: justify;
	margin: 3vh 3vh;
}

.italic {
	font-style: italic;
	font-weight: normal;
	text-align: left;
}


/*Section form with image */

.container-back-color {
	background-color: aliceblue;
}

#container-flex-image {
	text-align: center;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;

	margin: 1.5rem 1rem;
}

@media screen and (max-width:650px) {
	#top-text {
		text-align: center;
	}
	#container-flex-image {
		flex-wrap: wrap;
	}
	#container-image:first-child {
		flex-basis: 100%;
	}
	.container-top {
		font-size: 0.9em;
	}

	#container-infos:first-child {
		flex-basis: 100%;
	}

	#container-form:first-child {
		flex-basis: 100%;
	}

	#container-image:first-child {
		flex-basis: 100%;
	}

	input[type=text] {
		margin: 0;
	}
	.container-3-images {
		flex-wrap: wrap;
	}

	#image:first-child {
		flex-basis: 100%;
		margin: 1rem;
	}
}


#container-form {
	flex: 1;
}

#input {
	width: 80%;
	font-size: 15px;
	margin: 1.5rem;
	border: 1px solid black;
}

input[type=submit] {

	width: 70%;
	border: 1px solid black;
	font-size: 15px;
	background-color: cornflowerblue;
	text-align: center;
}

input[type=text]:focus {
	background-color: lightblue;
}


#container-image {
	flex: 1;
	padding: 0 1rem;
}

#container-infos {
	flex: 1;
	padding: 0 1rem;
	font-weight: bold;
	font-size: 1em;
}


h2 {
	text-align: center;
	padding: 0 1rem;
}

.container-3-images {
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: center;

	margin: 2rem 1rem;
}

#image {
	flex: 1;
	padding: 0 1rem;
}


#infos-meribel {
	font-weight: normal;
	text-align: justify;
	margin: 2.5rem 2rem -1rem;
}

#desc-meribel {
	font-weight: normal;
	text-align: justify;
}

#infos-vallees {
	margin: 0 0 3.8rem 0;
	font-weight: normal;
	text-align: justify;
}

.container-footer {
	background-color: #111C2E;
	margin: -2rem 0;
}

#partenaires {
	color: white;
	margin-top: 0;
	padding: 1rem;
}

.container-logo {
	text-align: center;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
}

#logo {
	flex-grow: 1;
	padding: 0 1rem;
	height: 60px;
	width: 25%;
	box-sizing: border-box;
}

@media screen and (min-width:1000px) {
	.container-logo {
		flex-wrap: nowrap;
	}

	#logo {
		flex-grow: 1;
		padding: 1rem;

		height: 80px;
		width: 33%;
		box-sizing: border-box;
	}

}
